.programm1 .img-resp{
  margin-top: 60px;
  margin-bottom: 60px;
}

.programm1 .card{
  color:white;
  background-color: $site-pink1;
  transform: translateY(0px);
}

.programm1 .card-title{
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
  font-family: 'Mazzard';
  text-transform: uppercase;
}

.programm1 ul{
  font-size: 16px;
  font-family: 'Mazzard';
}
.hr-white{
  background-color:white;
}