.tarif .card{
  margin: auto;
  margin-top: 5%;
  max-width:500px;

}

.tarif .card-title{
  color: #ea358b;
  font-size: 50px;
  font-style: italic;
}

.tarif .card-footer{
  border-top: transparent;
  background-color: #fff;
}